i.maintain {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

i.icon {
  display: block;
  height: 1rem;
  width: 1rem;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}